.box {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 220px;
}
.item {
    padding: auto;
    display: flex;
    flex: auto;
    background-color: #6f6f6f;
    margin: 1px;
    width: 100px;
    height: 100px
}

#i2 {
    align-self: flex-end;
}